.serverless/
node_modules/
vendor/
vendor-ddtrace/
__pycache__/
*.pyc
.env
.DS_Store
.aws-sam/
bin/
obj/
samconfig.toml
target/
dependency-reduced-pom.xml
python/otel-collector-dd/builder/build/
python/otel-collector-dd/layer/
python/otel-collector-dd/extensions/
python/otel-collector-dd/*.zip
python/otel-collector-dd/otelcol-local
